<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Direct API campaigns</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
</head>
<body>
<div class="container pt-5">
  <div>
    <form>
      {% bootstrap_formset formset %}
      {% bootstrap_button button_type='submit' content='Send' %}
    </form>
  </div>
  {% with data=request.GET %}
    <h2>Insert campaign settings</h2>
    {% if formset.is_valid %}
      {% for form in formset %}
      <h2>
        Campaign {{ form.cleaned_data.campaign_name }} created.
      </h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
</body>
</html>