{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div>
  <form>
  {{ count }}
    {% bootstrap_button button_type='submit' content='OK' %}
  </form>
    <form method="POST">
      {% csrf_token %}
      {{ formset.management_form }}
        {% for form in formset %}
          <hr>
          <label>Campaign settings</label><br>
          <div class="input-group">
            {% bootstrap_form form %}
          </div>
        {% endfor %}
      {% bootstrap_button button_type='submit' content='Send' %}
    </form>
  </div>
  {% with data=request.POST %}
    {% if formset.is_valid %}
      {% for form in formset %}
      <h2>
        Campaign {{ form.cleaned_data.campaign_name }} created.
      </h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}