{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div>
  <form>
    {{ count }}
    {% bootstrap_button button_type='submit' content='OK' %}
  </form>
  <a href='{% url 'create_campaign:ad_groups_create' %}'>ad groups</a>
    <form method="POST">
      {% csrf_token %}
      {{ formset.management_form }}
        {% for form in formset %}
          <hr>
          <label>Campaign settings</label><br>
          <div id="forms" class="input-group">
            {% bootstrap_form form %}
          </div>
        {% endfor %}
      {% bootstrap_button button_type='submit' content='Send' %}
    </form>
  </div>
  {% with data=request.POST %}
    {% if data %}
      {% if formset.is_valid %}
      <a href='{% url 'create_campaign:ad_groups_create' %}'>ad groups</a>
        {% for form in formset %}
        <h2>
          Campaign {{ form.cleaned_data.campaign_name }} created.
        </h2>
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endwith %}
{% endblock %}